<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2026 SIRGPrice

 This file is part of Blue Edge: https://github.com/SIRGPrice/Blue-Edge

 Licensed under the Blue Edge Custom License 1.0.
 You may not use this file except in compliance with that license.
 GitHub may host, cache, display, and facilitate collaboration on this file
 as required by the GitHub Terms of Service.
 See the repository root: LICENSE.md
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" />

